[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
python-decouple = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"

[dev-packages]
black = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
