[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3,<4"
python-decouple = "*"
django-heroku = "*"
dj-database-url = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
celery = {extras = ["redis"], version = "*"}
daphne = "*"
channels-redis = "*"
twisted = {extras = ["http2"], version = "*"}

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
